<button type="button" onclick={{action "toggle"}}>
  {{#if @on}}
    <img alt="starFilled" src="assets/images/starfilled.png" width="15" height="15">
  {{else}}
    <img alt="star" src="assets/images/star.png" width="15" height="15">
  {{/if}}
</button>
