<div>
  {{#link-to "compose"}}
    <button>Compose</button>
  {{/link-to}}
</div>

<nav>
  {{#link-to "index"}}
    Inbox
  {{/link-to}}
  {{#link-to "sent"}}
    Sent
  {{/link-to}}
  {{#link-to "trash"}}
    Trash
  {{/link-to}}
</nav>
{{outlet}}
